@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
    margin: 0;
    background-color: rgb(114, 207, 178)
}


.ele1 {
    margin-top: 15px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color1 {
    width: 200px;
    height: 200px;
    background-color: blue;
  }
  
  .color2 {
    width: 200px;
    height: 200px;
    background-color: red;
  }
  
  .color3 {
    width: 200px;
    height: 200px;
    background-color: green;
  }
  
  .color4 {
    width: 200px;
    height: 200px;
    background-color: yellow;
  }
  